#certificates {
  margin-top: 6rem;
}

#certificates .col-lg-12 {
  margin-top: 4rem;
}

#certificates .certificate-img {
  display: flex;
  align-items: flex-start;
}

#certificates .certificate-img img {
  width: 70%;
  transform: translateY(-10px);
}

#certificates .certificate-deks h3 {
  width: max-content;
  border-radius: 0.5rem;
  background-color: var(--color2);
  color: var(--colorWhite);
  padding: 1rem;
  font-weight: 600;
}

#certificates .certificate-deks {
  flex: 1;
}

#certificates .deks {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--color1);
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.2);
}

#certificates .deks p{
  color: var(--colorWhite);
}



@media (max-width: 991px) {
  #certificates {
    margin-top: 4rem;
  }

  #certificates .col-lg-12 {
    margin-top: 7rem;
  }

  #certificates .certificate-deks {
    margin-top: 5rem;
  }

  #certificates .certificate-img img {
    width: 30%;
    transform: translateY(0px);
  }
}

@media (max-width: 581px) {
  #certificates .certificate-img img {
    width: 60%;
  }
}
